<div class="network">
    <div style="display: none">
        <svg width="100%" height="400" id="network-template"></svg>
    </div>
    <div class="px-3"><button class="btn btn-secondary" @onclick="SwitchNetwork">Switch Network View (@NetworkMode)</button></div>
    <div id="network-area"></div>
</div>